<!DOCTYPE html>
<head>
    <link rel="stylesheet" href="../styles.css">
</head>
<body>
    <section class="block container">
        <h2 class="block__heading">Heading</h2>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni in iste doloribus sit minus eveniet! Minus quaerat illum reiciendis. Vitae a ad doloribus quo natus.
        </p>
    </section>
    <section class="block block--dark block--skewed-left">
        <div class="container">
            <header class="block__container">
                <h2 class="block__heading">Heading</h2>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni in iste doloribus sit minus eveniet! Minus quaerat illum reiciendis. Vitae a ad doloribus quo natus.
                </p>
            </header>
        </div>
    </section>
    <script src="js/main.js"></script>
</body>