<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="../styles.css">
    </head>
    <body>
        <div class="collapsible collapsible--expanded">
            <header class="collapsible__header">
                <h2 class="collapsible__heading">TOMMYFOOTIES</h2>
                    <svg class="icon icon--primary icon--white collapsible__chevron">
                        <use xlink:href="../images/spritee.svg#arrow-down-sign-to-navigate"></use>
                    </svg>
            </header>
            <div class="collapsible__content">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur a ab nobis tempora hic molestias ut corporis, sunt ipsum maiores.
            </div>
        </div>
        <script src="../js/main.js"></script>
    </body>
</html>