<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="../styles.css">
    </head>
    <body>
        <section class="block block--dark block--skewed-left">
            <header class="block__header">
                <h2 class="block__headings"> Host On The Cloud to Keep Growing </h2>
                <p class="block__header-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt ea natus ex atque enim at perspiciatis magni quia, delectus itaque!</p>
            </header>
            <div class="feature feature__body">
                <div class="grid grid--1x2 feature__grid">
                    <div class="feature__content">
                        <svg class="icon icon--small">
                            <use xlink:href="../images/spritee.svg#arrow-down-sign-to-navigate"></use>
                        </svg>
                        <div class="media__heading">Super Easy to Use</div>
                        <p class="media__body">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem esse, hic odit quos quam animi sed iste fugiat fuga odio assumenda reprehenderit vitae corrupti accusamus non ipsa perspiciatis repellat distinctio voluptatibus. Accusamus consequuntur dolor omnis error, ab illo velit doloribus deleniti consectetur sint non eum, repudiandae alias impedit explicabo perferendis.</p>
                        <a class="media__link" href="#"> LEARN MORE
                            <img src="../images/right-direction.png" alt=""/>
                        </a>
                    </div>
                    <div class="feature__image">
                        <img src="../images/easy.jpg"/>
                    </div>
                </div>
            </div>
            <div class="feature feature__body">
                <div class="grid grid--1x2 feature__grid">
                    <div class="feature__content">
                        <div class="media__image">
                            <svg class="icon icon--small">
                                <use xlink:href="../images/spritee.svg#arrow-down-sign-to-navigate"></use>
                            </svg>
                        </div>
                        <div class="media__heading">Super Easy to Use</div>
                        <p class="media__body">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem esse, hic odit quos quam animi sed iste fugiat fuga odio assumenda reprehenderit vitae corrupti accusamus non ipsa perspiciatis repellat distinctio voluptatibus. Accusamus consequuntur dolor omnis error, ab illo velit doloribus deleniti consectetur sint non eum, repudiandae alias impedit explicabo perferendis.</p>
                        <a class="media__link" href="#"> LEARN MORE
                            <img src="../images/right-direction.png" alt=""/>
                        </a>
                    </div>
                    <div class="feature__image">
                        <img src="../images/easy.jpg"/>
                    </div>
                </div>
            </div>
        </section>
    </body>
</html>