<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="../styles.css">
    </head>
    <body>
        <div class="input-group">
            <span class="icon-container">
                <svg class="icon icon--primary">
                    <use xlink:href= "../images/spritee.svg#arrow-down-sign-to-navigate"></use>
                </svg>
            </span>
            <input type="text" 
            class="input" 
            placeholder="Enter domain here..."
            />
            <button class="btn btn--accent">Search</button>
        </div>
    </body>
</html>