<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="../styles.css">
    </head>
    <body>
        <nav class="nav collapsible collapsible--expanded">
            <a href="/"><img class="nav__image" src="../images/IMG_1085.jpg" alt=""></a>
            <svg class="icon icon--primary icon--white nav__toggler">
                <use xlink:href= "../images/spritee.svg#arrow-down-sign-to-navigate"></use>
            </svg>
            <ul class="list nav__list collapsible__content">
                <li class="nav__item"><a href="#">About</li>
                <li class="nav__item"><a href="#">Enquiry</li>
                <li class="nav__item"><a href="#">Order</li>
                <li class="nav__item"><a href="#">Pricing</li>
            </ul>
        </nav>
        <script src="../js/main.js"></script>
    </body>
</html>