<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="../styles.css">
    </head>
    <body>
        <div class="screen collapsible collapsible--expanded">
            <div class="screen__tab">
                <div class="screen__time">
                    <span class="time">16:58</span>
                    <span class="screen__top-right">
                        <img class="screen__network"src="../images/network.png"/>
                        <p class="lte">LTE</p>
                        <img class="screen__battery" src="../images/battery-status.png"/>
                    </span>
                </div>
                <a class="btn btn--block btn--gray">
                        <span class="AA">
                            <p>A</p><p>A</p>
                        </span>
                    <span class="search-tab">
                        <img class="lock" src="../images/lock.png"/>
                        <p>skysports.com</p>
                    </span>
                    <img class="reload" src="../images/reload.png"/>
                </a>
            </div>
            <div class="grid grid--1x2">
                <div class="sky">sky</div>
                <div class="sports-menu">
                    <div class="sports">sports</div>
                    <span>
                        <svg class="icon icon--primary icon--white collapsible__arrow">
                            <use xlink:href="../images/spritee.svg#arrow-down-sign-to-navigate"></use>
                        </svg>
                    </span>
                </div>
            </div>
            <div class="sky__believe">
                <div class="sky__believe-image"><img src="../images/6e66d1fdd5df189ee4306f3549a3e50d.png"/></div>
            </div>
            <div class="sky-page-container">
                <div class="sky-page">
                    <div class="football">Football</div>
                    <div class="home-content">
                        <div class="home">Home</div>
                        <a class="home__menu collapsible collapsible--chevron collapsible--expanded">Menu
                            <svg class="icon icon--small icon--white">
                                <use xlink:href="../images/spritee.svg#arrow-down-sign-to-navigate"></use>
                            </svg>
                        </a>
                    </div>
                    <div class="ole">
                        <img class="ole__image"src="../images/ole.JPG" alt=""/>
                        <h2 class="ole__note"> Solskjaer to blame for United defeat?</h2>
                        <p class="ole__summary">Manchester United have added some huge signings but their dramatic 2-1 defeat to Young Boys in the champions league was a defeat engineered from the dugout.</p>
                        <div class="line-up">
                            <svg class="icon icon--small">
                                <use xlink:href="../images/spritee.svg#arrow-down-sign-to-navigate"></use>
                            </svg>
                            <p>How the teams lined up</p>
                        </div>
                        <div class="stats">
                            <svg class="icon icon--small">
                                <use xlink:href="../images/spritee.svg#arrow-down-sign-to-navigate"></use>
                            </svg>
                            <p>Match stats</p>
                        </div>
                    </div>
                    <div class="news">
                        <div class="grid grid--1x2">
                            <div class="chelsea">
                                <img src="../images/chelsea.JPG" alt="">
                                <div class="competition">Champions League</div>
                                <div class="lukaku">Clinical Lukaku continues run in narrow Chelsea win</div>
                            </div>
                            <div class="cl">
                                <img src="../images/cl (1).JPG" alt=""/>
                                <div class="competition">Football</div>
                                <div class="cl__summary">CL round-up: Bayern beat Barca, Juve see off Malmo</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="collapsible collapsible--expanded">
                    <div class="collapsible__cont">
                        <div class="collapsible__header">
                            <div class="collapsible__content-icon">
                                <img src="../images/user.png"/>
                                <p>Log In</p>
                            </div>
                            <div class="get-sky">Get Sky Sports</div>
                        </div>
                        <ul class="list">
                            <li class="list__item">Home</li>
                            <li class="list__item">Sports</li>
                            <li class="list__item">Scores</li>
                            <li class="list__item">Video</li>
                            <li class="list__item">TV</li>
                            <li class="list__item">Sky Bet</li>
                            <li class="list__item">Games</li>
                            <li class="list__item">More</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <script src="../js/main.js"></script>
    </body>
</html>