<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="../styles.css">
    </head>
    <body>
        <section>
            <header class="block__header">
                <h2> What Our Customers are Saying</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium repudiandae expedita nostrum quam recusandae facilis minus? Fugit vero laborum debitis!</p>
            </header>
            <div class="container">
                <div class="card testimonial">
                    <div class="grid grid--1x2">
                        <div class="testimonial__image">
                            <img src="../images/IMG_1085.JPG" alt="tommyfooties logo"/>
                            <span class="icon-container">
                                <svg class="icon icon--primary">
                                    <use xlink:href="../images/spritee.svg#arrow-down-sign-to-navigate"></use>
                                </svg>
                            </span>
                        </div>
                       <blockquote class="quote">
                           <p class="quote__text">
                               Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum iste officia veniam explicabo aspernatur harum perferendis, beatae eum aliquam corrupti. Modi, consequuntur repellat distinctio beatae minima quis animi quia dolorum iste est cumque autem accusamus omnis nesciunt sit ab dolorem esse aperiam quisquam quidem voluptas, doloribus fugiat. Omnis, quam inventore?
                           <footer>
                               <div class="media">
                                   <div class="media__image">
                                       <svg class="icon icon--primary">
                                           <use xlink:href="images/sprite.svg#line"></use>
                                       </svg>
                                   </div>
                                   <div class="media__body">
                                        <svg class="icon icon--primary icon--small">
                                            <use xlink:href="../images/spritee.svg#arrow-down-sign-to-navigate"></use>
                                        </svg>
                                       <div>
                                            <h3 class="media__title quote__author">Aderibigbe Adetomi</h3>
                                            <p>TOMMYFOOTIES</p>
                                        </div>
                                   </div>
                               </div>
                           </footer>
                       </blockquote>
                    </div>
                </div>
            </div>
        </section>
    </body>
</html>