
<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="../styles.css">
    </head>
    <body>
        <div class="plan">
            <div class="card card--secondary">
                <header class="card__header">
                    <div class="plan__name-container">
                        <h3 class="plan__name">Order Now</h3>
                        <img src="../images/IMG_1085.JPG"/>
                    </div>
                    <span class="plan__price">N16,000</span>
                    <span class="plan__billing-price">N17,500</span>
                    <span class="badge badge--secondary badge--small">10% OFF</span>
                    <div class="plan__description">Great Price For Our Shoes</div>
                </header>
                <div class="card__body">
                    <div class="collapsible collapsible--expanded">
                        <header class="collapsible__header">
                            <h2 class="collapsible__heading">TOMMYFOOTIES</h2>
                            <svg class="icon icon--primary icon--white icon--small collapsible__chevron">
                                <use xlink:href="../images/spritee.svg#arrow-down-sign-to-navigate"></use>
                            </svg>
                        </header>
                        <ul class="list list--tick collapsible__content">
                            <div class="list__container">
                                <li class="list__item list__gap">
                                    <svg class="icon icon--primary">
                                        <use xlink:href="../images/spritee.svg#arrow-down-sign-to-navigate"></use>
                                    </svg>Loafers</li>
                            </div>
                            <li class="list__item list__gap">
                                <svg class="icon icon--primary">
                                    <use xlink:href="../images/spritee.svg#arrow-down-sign-to-navigate"></use>
                                </svg>Monkstrap</li>
                            <li class="list__item list__gap">
                                <svg class="icon icon--primary">
                                    <use xlink:href="../images/spritee.svg#arrow-down-sign-to-navigate"></use>
                                </svg>Lace-Up</li>
                            <li class="list__item list__gap">
                                <svg class="icon icon--primary">
                                    <use xlink:href="../images/spritee.svg#arrow-down-sign-to-navigate"></use>
                                </svg>Chelsea Boots</li>
                            <li class="list__item list__gap">
                                <svg class="icon icon--primary">
                                    <use xlink:href="../images/spritee.svg#arrow-down-sign-to-navigate"></use>
                                </svg>Palm Slippers</li>
                        </ul>
                    </div>
                    <a href="#" class="btn btn--outline btn--stretched"> CLICK TO ORDER</a>
                </div>
            </div>
        </div>
        <script src="../js/main.js"></script> 
    </body>
</html>